[hidden] { display: none; }

.visually-hidden {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

div.awesomplete > ul {
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .3em;
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	left: 15px;
	list-style: none;
	margin: .2em 0 0;
	padding: 0;
	position: absolute;
	text-shadow: none;
  width: auto;
	z-index: 1;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

/*@supports (transform: scale(0)) {*/
	div.awesomplete > ul {
		transform-origin: 1.43em -.43em;
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
}
	
	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		display: block;
		opacity: 0;
		transform: scale(0);
		transition-timing-function: ease;
	}
/*}*/

	/* Pointer */
	div.awesomplete > ul:before {
		background: white;
		border: inherit;
		border-bottom: 0;
		border-right: 0;
		content: "";
		height: 0;
		left: 1em;
		padding: .4em;
		position: absolute;
		top: -.43em;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
    width: 0;
	}

	div.awesomplete > ul > li {
		cursor: pointer;
		padding: .2em .5em;
		position: relative;
	}
	
	div.awesomplete > ul > li:hover {
		background: hsl(200, 40%, 80%);
		color: black;
	}
	
	div.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%);
		color: white;
	}
	
		div.awesomplete mark {
			background: hsl(65, 100%, 50%);
		}
		
		div.awesomplete li:hover mark {
			background: hsl(68, 101%, 41%);
		}
		
		div.awesomplete li[aria-selected="true"] mark {
			background: hsl(86, 102%, 21%);
			color: inherit;
		}