body, input, select {
  font-family: ralewayregular;
}

.table a, .hack {
  font-family: Hack, monospace;
}

p.hack {
  color: #ed6c63;
}

.plus20p {
  font-size: 1.2em;
}

strong {
  font-family: ralewaysemibold;
}

table {
  table-layout: fixed;
}

.table thead th {
  color: darkslategrey;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

/* SORT HEADER */

.sorting {
  cursor: pointer;
}

.sorting:after {
  content: "\f0dc";
  font-family: FontAwesome;
  opacity: 0.3;
  padding-left: 10px;
}

.sorting-desc:after {
  content: "\f0dd";
  opacity: 1;
}

.sorting-asc:after {
  content: "\f0de";
  opacity: 1;
}

/* Modifications to Bulma Defaults */

html, body, section {
  height: 100%;
}

.columns, .container {
  height: 100%;
}

.column {
  overflow: auto;
}

.is-third {
  padding-right: 20px;
}

.pad-left-15 {
  padding-left: 15px;
}