html, body {
	height: 100%;
	margin: 0;
}

.terminal ::selection {
	background: #0080ff;
}

.terminal {
	min-height: 100%;
	position: relative;
	width: 100%;
  font-weight: normal;
}

.terminal .container {
	padding: 1em 1.5em 1em 1em;
	position: relative;
}

.terminal .container output {
	clear: both;
	width: 100%;
}

.terminal .container output pre {
	margin: 0;
}

.terminal .cmdline {
	background-color: transparent;
	border: none;
	color: inherit;
	font: inherit;
	margin: 0;
	width: 100%;
}

.terminal .cmdline:focus {
  outline: none;
}

.terminal .hidden {
	display: none;
}

.terminal output table.input-line td:last-child {
	padding-left: 1px;
}

.terminal .prompt {
	margin-right: 7px;
	white-space: nowrap;
}

.terminal table.input-line {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

.terminal table.input-line td {
	margin: 0;
	padding: 5px 0;
}

.terminal .cmderror {
  color: firebrick;
}

.terminal .prefix {
  margin-left: 25px;
  color: dimgray;
}

.terminal table.ink-table {
  background: transparent;
}

.terminal table.ink-table tr th, table.ink-table tr td {
  border-bottom: none;
}

/* Interlaced theme */

.terminal-interlaced .answer {
  color: chartreuse;
}

.terminal-interlaced {
	color: #ccc;
	font-family: 'Source Code Pro', monospace;
}

.terminal-interlaced a.external {
  background: none repeat scroll 0% 0% #333;
	padding-right: 13px;
	outline: none;
}

.terminal-interlaced .background {
  background: none repeat scroll 0% 0% #333;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.terminal-interlaced .container output pre {
	color: #ccc;
	font-family: 'Source Code Pro', monospace;
}

.terminal-interlaced .prompt {
	color: #ccc;
}

/* Monokai theme */

.terminal-monokai {
	color: #F8F8F2;
	font-family: 'Source Code Pro', monospace;
}

.terminal-monokai .answer {
  color: #A6E22E;
}

.terminal-monokai a {
	color: #66D9EF;
}

.terminal-monokai .background {
	background: #272822;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.terminal-monokai .prefix {
  color: #a8a8a2;
}

.terminal-monokai .prompt {
	color: #FD971F;
}

.terminal-monokai .cmderror {
  color: #F92672;
}

/* Github theme */

.terminal-github {
	color: #333;
	font-family: 'Source Code Pro', monospace;
}

.terminal-github .answer {
  color: #000080;
}

.terminal-github a {
  color: #0086b3;
}

.terminal-github .background {
	background: #f8f8f8;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.terminal-github .prefix {
  color: #998;
}

.terminal-github .prompt {
  color: #009926;
}

.terminal-github .cmderror {
  color: #d14;
}

/* XCode theme */

.terminal-xcode {
	color: black;
	font-family: 'Source Code Pro', monospace;
}

.terminal-xcode .answer {
  color: #008;
}

.terminal-xcode a {
  color: #3f6e74;
}

.terminal-xcode .background {
	background: #fff;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.terminal-xcode .prefix {
  color: #660;
}

.terminal-xcode .prompt {
  color: #5c2699;
}

.terminal-xcode .cmderror {
  color: #c41a16;
}

/* Obsidian theme */

.terminal-obsidian {
	color: #e0e2e4;
	font-family: 'Source Code Pro', monospace;
}

.terminal-obsidian .answer {
  color: #93c763;
}

.terminal-obsidian a {
  color: #668bb0;
}

.terminal-obsidian .background {
	background: #282b2e;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.terminal-obsidian .prefix {
  color: #818e96;
}

.terminal-obsidian .prompt {
  color: #d39745;
}

.terminal-obsidian .cmderror {
  color: #ec7600;
}